.Register-container {
  .Register-left {
    .Register-left-wrap {
      .Register-left-content {
        border-radius: 6px;
        box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.3);
        box-sizing: border-box;
      }
    }
  }
}

